Repository vuejs/vue-cli, pull requests merged in 2018-07, with the labels that each got.

#1740 Dependencies view
  packages/@vue/cli-ui/apollo-server/connectors/dependencies.js
  packages/@vue/cli-ui/apollo-server/connectors/folders.js
  packages/@vue/cli-ui/apollo-server/connectors/plugins.js
  packages/@vue/cli-ui/apollo-server/connectors/views.js
  packages/@vue/cli-ui/apollo-server/schema/dependency.js
  packages/@vue/cli-ui/apollo-server/schema/plugin.js
  packages/@vue/cli-ui/apollo-server/util/resolve-path.js
  packages/@vue/cli-ui/locales/en.json
  packages/@vue/cli-ui/package.json
  packages/@vue/cli-ui/src/components/InstantSearchPagination.vue
  packages/@vue/cli-ui/src/components/NpmPackageSearch.vue
  packages/@vue/cli-ui/src/components/PackageSearchItem.vue
  packages/@vue/cli-ui/src/components/ProjectDependencyItem.vue
  packages/@vue/cli-ui/src/components/ProjectPluginItem.vue
  packages/@vue/cli-ui/src/graphql/dependencies.gql
  packages/@vue/cli-ui/src/graphql/dependenciesUpdate.gql
  packages/@vue/cli-ui/src/graphql/dependencyDetails.gql
  packages/@vue/cli-ui/src/graphql/dependencyFragment.gql
  packages/@vue/cli-ui/src/graphql/dependencyInstall.gql
  packages/@vue/cli-ui/src/graphql/dependencyUninstall.gql
  packages/@vue/cli-ui/src/graphql/dependencyUpdate.gql
  packages/@vue/cli-ui/src/plugins.js
  packages/@vue/cli-ui/src/router.js
  packages/@vue/cli-ui/src/style/main.styl
  packages/@vue/cli-ui/src/views/ProjectDependencies.vue
  packages/@vue/cli-ui/src/views/ProjectPluginsAdd.vue
  yarn.lock
Labels: feat: ui

#1755 Document lintOnSave: 'error' option
  docs/config/README.md
Labels: docs, enhancement, feat: eslint

#1760 Add Firebase deployment guide
  docs/guide/deployment.md
Labels: docs

#1769 fix(babel): default polyfills need es6.array.iterator for IE
  packages/@vue/babel-preset-app/__tests__/babel-preset.spec.js
  packages/@vue/babel-preset-app/index.js
Labels: bug, feat: babel

#1773 Create .browserslistrc file when user chose "separate config files"
  packages/@vue/cli/__tests__/Generator.spec.js
  packages/@vue/cli/lib/util/configTransforms.js
Labels: enhancement

#1758 fix(babel): set useBuiltins to false during MODERN_BUILD
  packages/@vue/babel-preset-app/__tests__/babel-preset.spec.js
  packages/@vue/babel-preset-app/index.js
Labels: bug, feat: babel

#1619 feat: pages support title option
  docs/config/README.md
  packages/@vue/cli-service/lib/config/app.js
Labels: enhancement, feat: cli-service build, feat: cli-service serve

#1752 added options and updated readme
  packages/@vue/cli-plugin-pwa/README.md
  packages/@vue/cli-plugin-pwa/lib/HtmlPwaPlugin.js
Labels: feat: pwa

#1854 fix(dev-server): pass 2nd argument to devServer.before
  packages/@vue/cli-service/lib/commands/serve.js
Labels: bug, feat: cli-service serve
